<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="MenuPath" value="C:\Users\user\Desktop\CsharpClass\主控台專案\POS_Order\POS_Order\Menu.json"/>
	</appSettings>
</configuration>